@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide Scrollbar Utility */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* Thin Scrollbar */
.thin-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #3f3f46 transparent; /* thumb track */
}

.thin-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #3f3f46; /* zinc-700 */
  border-radius: 9999px;
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #52525b; /* zinc-600 */
}

.gradient {
  /* https://grabient.com/HQDgrAzANMBsCcB2KBGYAGMsoFp3BXjBhXXRIgCZd8xEQbhKAWaPYK5d9CYjZrvkKUgA?angle=225 */

  background: linear-gradient(
    225deg,
    #a9caff 0%,
    #b8cbff 16.667%,
    #d3cbff 33.333%,
    #f0c8f9 50%,
    #ffc5f1 66.667%,
    #ffc0ec 83.333%,
    #ffbaec 100%
  );
}

.gradient2 {
  /* https://grabient.com/HQVgzAHANKDsCcMQAYCMUC0rhldHs6GywATMvqvLDKajTgGxhSnCMQvKvDLwAsMXCCFoo2fqRFZQ8CEA?angle=225 */

  background: linear-gradient(
    225deg,
    #abc8de 0%,
    #c7c9d8 16.667%,
    #e5cccf 33.333%,
    #ffd3c7 50%,
    #ffdbc2 66.667%,
    #ffe4c0 83.333%,
    #ffedc3 100%
  );
}

.gradient3 {
  /* https://grabient.com/HQdgLAbANKkwnPAzFAtABmAJnQRhruumpocRsGDiZVtBZGDOgKwsw4g1ZVA?angle=225 */

  background: linear-gradient(
    225deg,
    #8ec5fc 0%,
    #8dd3ff 25%,
    #a1d8ff 50%,
    #c1d2ff 75%,
    #e0c3ff 100%
  );
}

.gradient4 {
  /* https://grabient.com/HQdgLAzANMCsAcIYDZnygWgAzAIwE5YZcstiIAmTHWEdbYCya4SpPXIvfJBrMCkA?angle=225 */

  background: linear-gradient(
    225deg,
    #989ecb 0%,
    #8ca4c6 16.667%,
    #92a9be 33.333%,
    #a7acb4 50%,
    #c4afa8 66.667%,
    #dfaf9d 83.333%,
    #eeae93 100%
  );
}

.gradient5 {
  /* https://grabient.com/HQDgDAbANMDsCsBGGsLWAZgJyxtsesIMiYGJ8xwiE8UALMAEz1YPPbtO1QGLBhBUfoIIBaMAPgYgA?angle=225 */

  background: linear-gradient(
    225deg,
    #efe6da 0%,
    #e5d7ca 16.667%,
    #dac7b9 33.333%,
    #cfb6a9 50%,
    #c4a699 66.667%,
    #b9968b 83.333%,
    #af887e 100%
  );
}
